.App {
  text-align: center;
}
.movieList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.movieCard{
margin: 10px;

}


.MovieCardImg {
  height: 400px;
  align-items: center;

}

.starRating{
margin-bottom: 10px;
}

.addBtn{
  margin-right: 500px;
}

.StarsFilter{
  margin-left: 10px;
  
}

